
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  
  background-image: url('../images/doctor_login_image.jpg');
  background-size: cover;
  background-position: center center;
}

.custom-button-side{
    margin-left: 10px;
    width: 85px;
}



